<svg>
    <g class="graphContainer"></g>

    <defs>
        <marker id="end-arrow" viewBox="0 -5 10 10" refX="6" markerWidth="3" markerHeight="3" orient="auto" stroke="rgb(0,0,0)" fill="rgb(0,0,0)"><path d="M0,-5L10,0L0,5">
            </path>
        </marker>
        <marker id="start-arrow" viewBox="0 -5 10 10" stroke="rgb(240,50,50)" fill="rgb(240,50,50)" refX="4" markerWidth="3" markerHeight="3" orient="auto">
            <path d="M10,-5L0,0L10,5">
            </path>
        </marker>
    </defs>
</svg>
